* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
  }

header {
    padding: 20px 35px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    border-bottom: 5px solid #024e76;
    z-index: 9999;
  }
  header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    color:white;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  header a {
    text-decoration: none;
    color: white;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin: 10px;

  }
  header nav {
    margin: 5px 0;
  }

  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    padding-top: 5px;
  }

  header nav ul li a {
  padding: 10 15px;
  font-weight: lighter;
  font-size: 25px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
  }

  header nav ul li a:hover {
    color: #024e76;
    border-radius: 15px;
    text-shadow: none;
  }


  .hero {
    background-image: url("../images/cool-background.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 100%;
  }
   .me-quote {
     color: #024e76;
     font-size: 20px;
     padding-left: 20px;
     text-align: left;
   }

  .me {
      display: flex;
      justify-content: center;
      padding-right: 20px;
      padding-top: 20px;
      padding-left: 20px;
  }
    

  .me-title {
      color:  white;
      text-decoration: underline solid #024e76;
      font-size: 36px;
      display: flex;
      align-content: center; 
  }

  .me p {
    color: white;
    font-size: 16px;
    padding-top: 20px;
    padding-right: 150px;
    display: flex;    
}

.me-text {
  padding-top: 100px;
  padding-bottom: 50px;
}
.work-title {
    color:  white;
    text-decoration: underline solid #024e76;
    font-size: 36px;
    display: flex;
    align-content: center; 
}

.contact-title {
    color:  white;
    font-size: 36px;
    display: flex;
    align-content: center; 
}

.work-title {
    padding-left: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: 20px;
    grid-auto-columns: 40px;
    grid-template-rows: 20px;
    grid-auto-rows: 40px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    grid-auto-flow: dense;


  }

  .grid-item  {
    display: flex;
    justify-content: center ;
    align-items: center;
    border: 5px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
  
    
  }
  .grid-item a {
    color: white;
    font-size: 35px;
}
  .item-1 {
    grid-column: 2 / 11;
    grid-row: 2 / 13;
    background-image: url("../images/hero-bg.jpg");
    background-position: center;
  }

  .item-2 {
    grid-column: 12 / 18;
    grid-row: 2 / 7;
    background-image: url("../images/chevy-news.png");
    background-position: center;

  }

  .item-3 {
    grid-column: 12 / 18;
    grid-row: 8 / 13;
    background-image: url("../images/espn.jfif");
    background-position: center;
  }

  
  

footer {
    padding: 10px 15px;
    background-color: black;
    border-top: 5px solid #024e76;
  }

  .contact {
    display: flex;
    justify-content: space-between;

  }

  .contact-info {
      color: white;
      font-size: 15px;
      padding-top: 15px;
      margin: 5px;
  }

  .contact-info a {
    color: #024e76;  
  }

  .contact-info ul a {
      margin: 10px;
  }

  @media screen and (max-width: 980px) {
    header {
      padding-bottom: 0;
      justify-content: center;
      position: relative;
    }

    .me {
        display: block;
        float: left;
        padding: 20px;
    }

    .me-image {
        height: auto;
        width: auto;
    }
}

@media screen and (max-width: 720px) {

  .top-row {
    display: block;
    justify-content: left;
    padding-top: 15px;
    margin: 5px;
    }


    .grid-item {
      color: white;
      font-size: 25px;
      justify-content: center ;
      align-items: center;
  }

  .item-1 {
    grid-column: 2 / 11;
    grid-row: 2 / 8;
  }

  .item-2 {
    grid-column: 2 / 11;
    grid-row: 9 / 15;
  }
    .item-3 {
      grid-column: 2 / 11;
      grid-row: 16 / 22;
    }

  .hero {
    background-image: url("../images/cool-background.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 70%;
  }

  .contact {
    
    display: block;
    justify-content: left;
    padding-top: 15px;
    margin: 5px;
    }
}

  